<%= form_tag(transaction_accounts_path(link: @link), html: { class: "custom"}) do %>
   <div class="row">
     <div class="small-2 columns">
       <%= label_tag "#{action} amount", nil, class: "right inline" %>
     </div>
     <div class="small-6 columns end">
       <%= number_field_tag :amount %>
     </div> 
   </div>
   <div class="row">
     <div class="small-4 small-offset-4 columns">
       <%= submit_tag 'Submit', :class => 'button small' %>
     </div>
   </div>
<% end %>